<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/CSS/login.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <title>Eliza | Reset Password</title>
    
    </head>
    <style>
        .content {
            display: flex;
    flex-direction: column;
    margin-left: 519px;
    margin-top: 100px;
        }
        .btn {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
        }
    </style>
    <body>
        <div class="content">
            {% block title %} <h1>Reset your password</h1>  {% endblock %}
            {% block content %}
            <h1>Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form action="." method="post">
            {{ form.as_p }}
            <!-- <p><input type="submit" value="Send e-mail" class="btn"></p> -->
            <button value="Send e-mail" class="btn">Submit</button>
            {% csrf_token %}
            </form>
            {% endblock %}
        </div>

    </body>

</html>