<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/CSS/login.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <title>Eliza | Reset Password</title>
    
    </head>
   
    <style>
        .container {
            display: flex;
    flex-direction: column;
    margin-left: 519px;
    margin-top: 100px;
        }
        .btn {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
        }
    </style>


<div class="container">
    {% block title %} <h1>Reset your password</h1>  {% endblock %}
    {% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
     {{ form.as_p }}
     {% csrf_token %}
     <!-- <p><input type="submit" value="Change my password" /></p> -->
     <button value="Change my password" class="btn">Submit</button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has
     already been used. Please request a new password reset.</p>
    {% endif %}
    {% endblock %}
    
</div>
</html>