* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "EUCLID CIRCULAR B";
  }
  
  :root {
    --white-color: #fff;
    --dark-white-color: #e9e8e8;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg,#0d47a1,#42a5f5) no-repeat;
    border-radius: 0 0 70% 70%/100% 100% 0 0;
  }
  

  /* navigation */
  
  .nav {
    display: flex;
    justify-content: center;
    gap: 700px;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure that the navbar is on top of other elements */
  }
  
  .logo {
    cursor: pointer;
    color: var(--white-color);
  }
  
  .navUL {
    display: flex;
    gap: 30px;
  }
  
  .navLI a {
    color: var(--white-color);
  }
  
  .content {
    width: 100%;
    padding: 0 70px 70px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
/*   
  .svgimg img{
    background-position: bottom;
    width: 100%;
    z-index: 10;
  } */
  
  .sidetext {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* adjust the styles for the button and the text elements */
  .title {
    margin-top: 10px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .text {
    border-right: 2px solid var(--white-color);
    margin-top: 10px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .titlePara {
    color: var(--white-color);
    font-weight: 300;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .typing {
    width: 100%;
    position: absolute;
  
  }
  
  
  /* landing page button */
  
  .askme {
    margin-top: 10px;
    padding: 12px 17px;
    background-color: var(--dark-white-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  
  
  
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  @keyframes changewidth {
    from {
      width: 0%;
    }
  
    to {
      width: 100%;
    }
  }
  
  #dynamicContent {
    white-space: nowrap;
  }
  
  .chat {
    margin-top: 39px;
    background-image: url(/static/images/chat-bg-pattern-light.ee148af944f6580293ae.png);
    background-position: cover;
    background-size: cover;
  }
  
  .chat__input {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #f7f7f7;
    position: relative;
    border-radius: 10px;
  }
  
  .chat__input input {
    flex-grow: 1;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .chat__input button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat__input button:hover {
    background-color: #0070e0;
  }
  
  .fa-paper-plane {
    z-index: 1;
  }
  
  .chat__input button:focus {
    outline: none;
  }
  
  .chat__input button i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  /* features */
  
  .featureTitle {
    color: var(--white-color);
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .featuresbox {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 40px;
  }
  
  .featuresbox [class^="feature_"] {
    background-color: #e6e6e6;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  