.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 20px;
  text-align: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.avatar h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
